.footerWrapper{
    border:2px solid white;
    background: url('../../Assets/Footer.svg');
    background-repeat: no-repeat;
    background-repeat: repeat-x;
}
.mainSection{
    display: flex;
    flex-direction: column;
}

.logoandMoto{
    width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerLogo{
    width:15vw;
}
.footerMoto{
    text-align: center;
    font-size: 1.4rem;
}
.lowerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
