.footerWrapper{
    border:2px solid white;
    min-height:60vh;
    max-height:fit-content;
    background: url('../../Assets/Footer.svg');
}
.mainSection{
    margin-top:10vh;
    height:35vh;
    display: flex;
    flex-direction: column;
}

.logoandMoto{
    width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerLogo{
    width:15vw;
}
.footerMoto{
    text-align: center;
    font-size: 1.4rem;
}
.lowerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-bottom: 2vh;
}
