.startWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 89vh;
}

.tagline{
    color:#DE2020;
    font-size:30px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    width:70vw;
}
.middleTagLineWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middleTagLine{
    width:40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.subtaglineSub1{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;

}
.subtaglineSub2{
    color:rgba(0, 0, 0, 0.498);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;

}
.leftHalf{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.dropZoneWrapper{
    min-width:20vw;
    min-height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropZoneSubWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23DE2020D4' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-color: #FEB3B3;
    padding:8px 0;
}
.dropImageWrapper{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23DE2020D4' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    padding:4px;
}

.uploadTextholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.uploadText{
    font-size: 24px;
    width:80%;
    text-align: center;
}
.addressAndDateWrapper{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.organiseFormWrapper{
    width:60vw;
    border:0 auto;
    display: flex;
    justify-content: space-evenly;
    padding:10px 0;
    height:50vh;
}
.addressInputHolder{
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    outline: none;
    border:1px solid rgba(0, 0, 0, 0.735);
    width:14vw;
    background-color: #FEB3B3;
    padding:4px 0;

}
.dateHolder{
    text-align: center;
    width:14vw;
    padding:4px 0;
    font-size: 20px;
    border-radius: 16px;
    border:1px solid rgba(0, 0, 0, 0.735);
    background-color: #FEB3B3;
    color:#00000081
}
.rightHalf{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.HeadlineHolder{
    text-align: center;
    border-radius: 16px;
    border:1px solid rgba(0, 0, 0, 0.735);
    background-color: #FEB3B3;
    color:#00000081;
    font-size: 16px;
    margin: 0 auto;
    padding: 14px 12px;
    width:20vw;
}
.detailHolder{
    border-radius: 16px;
    border:1px solid rgba(0, 0, 0, 0.735);
    background-color: #FEB3B3;
    color:#00000081;
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:30vw;
}
.fullFormWrapper{
    background-color: #fdc6c61a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:8px 36px ;
}
.submitButton{
    border-radius: 16px;
    width:10vw;
    font-size: 16px;
    padding:6px 0;
    background-color:#fa6565ea;
    border:1px solid rgba(0, 0, 0, 0.735);
    color:white;
    font-weight: 500;
}
.leafWrapper{
    height: 40vh;
    position: absolute;
    right: 4%;
    bottom: 2%;
}
.leafImage{
    height:100%;
}