.frame1 {
    min-height: 85vh;
    display: flex;
    align-items: center;
}

.blobHome {
    position: absolute;
    top: 16%;
    z-index: -1;
    width: 18rem;
}

.leftHalf {
    height: 100%;
    width: 60%;
    padding: 4% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 2vh;
}

.rightHalf {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1%;
}

.homepageimg {
    width: 100%;
    border-radius: 50%;
}

.homepagetext1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    width: 80%;
}

.homepagetext2 {
    font-size: 2.8rem;
    font-family: 'Raleway', sans-serif;
    width: 80%;
}

.tagLine {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    padding-right: 30%;
}

.buttonsWrapperHome {
    display: flex;
    justify-content: flex-start;
    column-gap: 8%;
    width: 80%;
}

.donateFundWrapper {
    border-radius: 16px;
    font-size: 1.4rem;
    padding: 2px 8px;
    background-color: #FA6565;
    color: white;
    width: 25%;
    border: 1px solid #fa656557;
}

.readMoreButton {
    border-radius: 16px;
    font-size: 1.4rem;
    padding: 2px 8px;
    background-color: white;
    color: white;
    width: 25%;
    border: 2px solid #fa656598;
    color: #FA6565
}

.mapImage {
    background-image: url('../../Assets/map.png');
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.mapNumber {
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
}

.iconandNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    column-gap: 5px;
}

.mapText {
    color: white;
    font-size: 1.8rem;
}

.frame2 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5vh;
}

.frame2Header {
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    letter-spacing: 4px;
    text-align: center;
    font-weight: bold;
    height: 30%;
    display: flex;
    align-items: center;
}

.frame2Cards {
    height: 60%;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.cardWrapper {
    background-color: #fdc6c670;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 8px;
    height: 100%;
    width: 25%;
}

.card {
    border: 1px solid #FA6565;
    height: 100%;
    border-radius: 16px;
    background-color: #fdc6c600;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cardPurpose {
    font-size: 1.5rem;
}

.cardText {
    text-align: center;
    font-size: 1.5rem;
}

.cardBtn {
    border-radius: 16px;
    padding: 4px 14px;
    background-color: #FA6565;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: 1.2rem;
}

.aboutSection {
    min-height: 100vh;
    background: url('../../Assets/backgroundFrame3.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 15vh;
    row-gap: 20px;
    border-radius:18px;
}

.aboutHeader {
    color: #F34040;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 8px;
}

.abouTagLine {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

.aboutFirstPara {
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 5px;
}

.firstLine {
    background-color: #FA6565;
    height: 2px;
    width: 10vw;
    position: absolute;
    right: 0;
}

.illustrationandTextWrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 32px 8px;
    align-items: center;
}

.illustrationAbout {
    width: 25vw;
}

.textWrapperBig {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.illustrationText1 {
    font-size: 1.2rem;
    width: fit-content
}

.blockchainAbout {
    font-size: 20px;
    width: 100%;
    padding: 6px 0;
    font-weight: bold;
}

.secondLine {
    background-color: #FA6565;
    height: 2px;
    width: 10vw;
    position: absolute;
    left: 0;
}

.philanthropySection{
    display: flex;
    flex-direction: column;
    height:100vh;
    justify-content: space-evenly;
}
.philanthoryFirst{
    font-size:1.4rem;
    padding-right:40vw;
    text-align: center;
}
.badgeContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}
.badgeContainer img{
    max-height:60vh;
}
.philanthorySecond{
    font-size: 1.4rem;
    padding-left:40vw;
    text-align: center;
}

@media only screen and (max-width: 780px){
    .leftHalf{
    width: 100%;
    }
    .rightHalf{
        display: none;
        width:0;
        height: 0;
    }
    .homepageimg{
        display: none;
    }
}