.navBarWrapper {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px #666;
}
.linkWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.linkWrapper a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}
.linkWrapper a:hover{
    border-bottom:3px solid #F34040;
}

.logoImage {
    height: 5vw;
    width: 7vw;
    margin-left: 20px;
}

.callandConnectWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 13%;
}

.contactUsImg{
    width:2.4rem;
}
.profileVisitImg{
    width:3rem;   
}

.walletConnectImg{
    width:3rem;
}
.walletConnectImg:hover{
    cursor: pointer;
}
